<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RyzenTuner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RyzenTuner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RyzenTuner.Properties.Settings>
            <setting name="EnergyStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomMode" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="AutoMode" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SleepMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PowerSaveMode" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BalancedMode" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CurrentMode" serializeAs="String">
                <value>AutoMode</value>
            </setting>
        </RyzenTuner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RyzenTuner.Properties.Settings>
            <setting name="PerformanceMode" serializeAs="String">
                <value>30</value>
            </setting>
        </RyzenTuner.Properties.Settings>
    </applicationSettings>
</configuration>